<div class = "span12"><h2>About PeeHD.</h2></div><!--End Span-10.-->

<div class = "container">

    <div class ="span8">
		<h3>What is PeeHD.com?</h3>
		<p>It is a privately owned company, which is started as a fun assignment.  Current big buzz is daily deals.  We started keeping track            of all big guns for the day with great deals.  Their success is your success, your success is our success, and hence, their success is our success. So we decided to provide simpler interface for you to browse a lot through a few clicks. We wish you all good experience and not miss a single deal inventually.</p><br>
		
		<h3>Why is the special name PeeHD?</h3>
		<p>Name of a site has to be catchy, simple, repeatable, forwardable, discussable, and five letters or less.  PeeHD is very simple.             The name sounds intellectual, and so is the site.</p><br>  
		
		<h3>What is special?</h3>
		<p>There are multiple websites which does similar things.  This site is more organized and we keep track of big fishes not by size             of the company but the size of the deals they offer.  We also, going to start rating yours dealers and your deals soon.</p><br>
		<h3>What are 'Daily Adds'. 'Weekly Adds', and 'Deal Finders'?</h3>
		<p>Daily Adds: As the name suggest are all the sites which has a deal a day sites.<br>
		   Weekly Adds: It is the list of sites which has a weekly deals more like a paper adds.<br>
		   Deal Finders: It is the list of sites where people posts web site.<br>
		</p><br>
		<h3>Privacy Policy</h3>
		<p>We understand that privacy online is important to users of our Site, especially when conducting business.
This statement governs our privacy policies with respect to those users of the Site (”Visitors”) who visit without
transacting business and Visitors who register to transact business on the Site and make use of the various services offered by our Auto Insurance Blog (collectively, “Services”) (”Authorized Customers”).<br>
		</p><br>
		<h3>Copyright</h3>
		<p>The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are PeeHD.com, its affiliates or other third party licensors. YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE. You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. You agree to grant to PeeHD.com a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to PeeHD.com by all means and in any media now known or hereafter developed. You also grant to PeeHD.com the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against PeeHD.com for any alleged or actual infringement or misappropriation of any proprietary right in your communications to PeeHD.com.<br>
		</p><br>
		<h3>We hope you enjoy PeeHD.com, visit often!</h3>

		
	</div><!--End Span9 Last.-->
	
</div><!--container-->