<nav class="navbar" >
	<div class="navbar-inner">
			<ul class="text-right">
				<%= link_to_unless_current "Daily Adds",   :controller => "daily_deals", :action => :index %>||
			    <%= link_to_unless_current "Weekly Adds",  :controller => "weekly_adds",  :action => :index %>||
			    <%= link_to_unless_current "Deal Finders", :controller => "deal_finders",  :action => :index %>
			</ul>
	      </div><!--End container.-->
	    </div><!-- nav var inner -->
