<nav class="navbar" "navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">

     <div class="nav-collapse collapse">  
       <ul>
	    <button type="button" class="btn btn-success">
          <%=  link_to_unless_current 'Weekly Adds' , weekly_adds_path  %>!!
    	  <%=  link_to_unless_current 'Daily Deals' , daily_deals_path  %>!!
    	  <%=  link_to_unless_current 'Deal Hunters', deal_finders_path %>
	    </button>
  		</ul>
	 </div>
   </div>
   </div>
</nav>
